---
import type { Dictionary } from "../../models/dictionary.model";
import ProjectCard from "../project-card/project-card.astro";
import styles from "./projects.module.css";

interface Props {
    dictionary: Dictionary["projects"];
}

const { dictionary } = Astro.props;
---

<section class={styles.main_container}>
    <h2 class={styles.title}>{dictionary.title}</h2>
    <article class={styles.content_container}>
        {
            dictionary.projects.map((project) => (
                <ProjectCard dictionary={project} />
            ))
        }
    </article>
</section>
