---
import type { Dictionary } from "../../models/dictionary.model";
import ProductCard from "../product-card/product-card.astro";
import styles from "./products.module.css";

interface Props {
    dictionary: Dictionary["products"];
}

const { dictionary } = Astro.props;
---

<section class={styles.main_container}>
    <h2 class={styles.title}>{dictionary.title}</h2>
    <article class={styles.content_container}>
        {
            dictionary.products.map((product) => (
                <ProductCard dictionary={product} />
            ))
        }
    </article>
</section>
