---
import type { Dictionary } from "../../models/dictionary.model";
import Logos from "../logos/logos.astro";
import styles from "./hero.module.css";

interface Props {
  dictionary: Dictionary["hero"];
}

const { dictionary }: Props = Astro.props;
---

<section class={styles.main_container} id="inicio">
  <article class={styles.content_container}>
    <div class={styles.text_container}>
      <img
        src="/profile.jpg"
        alt="Marco Galván"
        title="Marco Galván foto"
        class={styles.profile_photo}
        width="200"
        height="200"
        loading="lazy"
      />
      <h1 class={styles.title}>{dictionary.title}</h1>
      <p class={styles.subtitles}>{dictionary.subtitle}</p>
      <p class={styles.subtitles}>{dictionary.location}</p>
    </div>
    <Logos />
  </article>
</section>
