---
import type { ProjectItem } from "../../models/dictionary.model";
import styles from "./project-card.module.css";

interface Props {
    dictionary: ProjectItem;
}

const { dictionary } = Astro.props;
---

<article class={styles.main_container}>
    {dictionary.url ? (
        <a
            href={dictionary.url}
            target="_blank"
            rel="noopener noreferrer"
            class={styles.content_container}
        >
            <div class={styles.info_container}>
                <div class={styles.title_container}>
                    <h3 class={styles.title}>{dictionary.title}</h3>
                </div>
                <p class={styles.description}>{dictionary.description}</p>
            </div>
        </a>
    ) : (
        <div class={styles.content_container}>
            <div class={styles.info_container}>
                <div class={styles.title_container}>
                    <h3 class={styles.title}>{dictionary.title}</h3>
                </div>
                <p class={styles.description}>{dictionary.description}</p>
            </div>
        </div>
    )}
</article>
