---
import type { Dictionary } from "../../models/dictionary.model";
import styles from "./about.module.css";

interface Props {
    dictionary: Dictionary["about"];
}

const { dictionary } = Astro.props;
---

<section class={styles.main_container}>
    <h2 class={styles.title}>{dictionary.title}</h2>
    <article class={styles.content_container}>
        {
            dictionary.descriptions.map((desc) => (
                <p class={styles.description}>{desc}</p>
            ))
        }
        <div class={styles.technologies}>
            <h3 class={styles.technologies_title}>
                {dictionary.technologiesTitle}
            </h3>
            <ul class={styles.technologies_list}>
                {
                    dictionary.technologies.map((tech) => (
                        <li class={styles.technology}>{tech}</li>
                    ))
                }
            </ul>
        </div>
    </article>
</section>
