---
import type { Dictionary } from "../../models/dictionary.model";
import ProductCard from "../product-card/product-card.astro";
import styles from "./featured.module.css";

interface Props {
    dictionary: Dictionary["featured"];
}

const { dictionary } = Astro.props;
---

<section class={styles.main_container}>
    <h2 class={styles.title}>{dictionary.title}</h2>
    <article class={styles.content_container}>
        {
            dictionary.items.map((item) => (
                <ProductCard dictionary={item} />
            ))
        }
    </article>
</section>
