---
import styles from "./navbar.module.css";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<nav class={styles.main_container}>
  <div class={styles.links_container}>
    <a href="https://x.com/MarcoGal4" target="_blank" class={styles.links}>
      <img
        src="/logos/x_dark.svg"
        alt="x icon"
        width={16}
        height={16}
        class={styles.image}
      />
    </a>
    <a
      href="https://www.linkedin.com/in/mgalvan26/"
      target="_blank"
      class={styles.links}
    >
      <img
        src="/logos/linkedin.svg"
        alt="linkedin icon"
        width={16}
        height={16}
        class={styles.image}
      />
    </a>
    <a href="https://github.com/mgalvan-dev" target="_blank" class={styles.links}>
      <img
        src="/logos/github-dark.svg"
        alt="github icon"
        width={16}
        height={16}
        class={styles.image}
      />
    </a>
    <a href={`/${lang === "es" ? "en" : ""}`} class={styles.lang_button}>
      {lang === "es" ? "EN" : "ES"}
    </a>
  </div>
</nav>
