---
import type { Dictionary } from "../../models/dictionary.model";
import styles from "./footer.module.css";

interface Props {
  dictionary: Dictionary["footer"];
}

const { dictionary } = Astro.props;
const year = new Date().getFullYear();
---

<footer class={styles.main_container}>
  <a href="#inicio" class={styles.name_link}>
    {dictionary.title}
  </a>
  <p>{`Copyright © ${year} Marco Galván. ${dictionary.copyright}`}</p>
</footer>
