---
import type { Dictionary } from "../../models/dictionary.model";
import ExperienceCard from "../experience-card/experience-card.astro";
import styles from "./experience.module.css";

interface Props {
  dictionary: Dictionary["experience"];
}

const { dictionary } = Astro.props;
---

<section class={styles.main_container}>
  <h2 class={styles.title}>{dictionary.title}</h2>
  <article class={styles.content_container}>
    {
      dictionary.experiences.map((experience) => (
        <ExperienceCard dictionary={experience} />
      ))
    }
  </article>
</section>
